<h1>Welcome to your page user: <%= current_user.email%>!</h1>

<form method="post" action="/logout">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Logout!" />
</form>

<%= erb :survey_new %>

<ul>
  <% @surveys.each do |survey| %>
    <a href="/survey/<%= survey.id %>"><li><%= survey.title %></li></a>
  <% end %>
</ul>
<!-- <a href="/survey/1">Survey 1</a>
 -->
