<h1>New Survey:</h1>
<h2><%= @survey.title %></h2>


<div id="question_list">
  <ol>

    <% @questions.each do |question| %>
      <%= erb :question_li, locals: {question: question} %>
    <% end %>

    <!-- add stuff here -->

  </ol>
</div>

<%= erb :question_new %>

<br><br>
<a href="/homepage">Back</a>